.Dashboard {
  font-family: Inconsolata, Monaco, "Andale Mono", monospace;
  height: 100%;
  background: #888;
  color: white;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

img.Icon {
  height: 50px;
}

.Company {

}

.Menu {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.Navigation {
  background: #888;
  display: flex;
  align-items: center;
}

.Flag {
  font-size: 33px;
}

span {
  padding: 10px;
}

.Body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
